/* font variables */
/* color variables */
/* text values */
/* btn bg color values */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
body {
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*, *:hover, *:focus, *:active {
  outline: none !important;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  height: -webkit-fill-available;
}

input, textarea {
  -webkit-user-select: text !important;
     -moz-user-select: text !important;
      -ms-user-select: text !important;
          user-select: text !important;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active,
select,
select:hover,
select:focus,
select:active {
  outline: none !important;
}

nav {
  z-index: 999;
  padding-right: 64px;
  padding-left: 52px;
  padding-top: 14px;
  padding-bottom: 14px;
  position: fixed;
  width: 100%;
  background-color: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);
}
nav.bg {
  background-color: #0b0b0b;
}
nav .nav-wrapper {
  display: flex;
  align-items: center;
}
nav .nav-wrapper .nav-left {
  display: flex;
  flex: 1;
}
nav .nav-wrapper .nav-right {
  margin-left: 13px;
  flex: 11;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-wrapper .nav-right .menu {
  display: flex;
  align-items: center;
  gap: 16px;
}
nav .nav-wrapper .nav-right .menu li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
}
nav .nav-wrapper .nav-right .menu li a.active {
  font-weight: 700;
}
nav .nav-wrapper .nav-right .profile {
  display: flex;
  align-items: center;
  gap: 24px;
}
nav .nav-wrapper .nav-right .profile .search {
  cursor: pointer;
}
nav .nav-wrapper .nav-right .profile .search img {
  width: 18px;
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}
nav .nav-wrapper .nav-right .profile .profile-img {
  cursor: pointer;
}
nav .nav-wrapper .nav-right .profile .profile-img img {
  width: 26px;
  height: 26px;
  -o-object-fit: cover;
     object-fit: cover;
}

.movie-information .bg-movie {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie-information .black-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.1;
  z-index: 1;
}
.movie-information .info-wrapper {
  padding-top: 160px;
  padding-inline: 64px;
}
.movie-information .info-wrapper .genres {
  display: flex;
  align-items: center;
  gap: 32px;
}
.movie-information .info-wrapper .genres .genre {
  position: relative;
}
.movie-information .info-wrapper .genres .genre h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 4rem;
  text-transform: capitalize;
}
.movie-information .info-wrapper .movie-name {
  font-size: 64px;
  font-weight: 800;
  line-height: 77px;
  text-transform: capitalize;
  margin-top: 13px;
  width: 60%;
}
.movie-information .info-wrapper .general-info {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
}
.movie-information .info-wrapper .general-info h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.movie-information .info-wrapper .general-info h3 span {
  color: #FFF;
}
.movie-information .info-wrapper .desc {
  margin-top: 10px;
  width: 45%;
  color: #FFF;
}
.movie-information .info-wrapper .buttons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.movie-information .info-wrapper .buttons button {
  cursor: pointer;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.movie-information .info-wrapper .buttons button.play {
  padding: 8px 12px;
  border: none;
  background-color: #D40D1F;
  display: flex;
  align-items: center;
  gap: 16px;
}
.movie-information .info-wrapper .buttons button.play img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie-information .info-wrapper .buttons button.all {
  padding: 6px 50px;
  border: 1px solid #FFFFFF;
  background-color: unset;
}
.movie-information .info-wrapper .buttons button span {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.home {
  background-color: #0b0b0b;
  min-height: 100vh;
  position: relative;
  z-index: 10;
}/*# sourceMappingURL=netflix.css.map */