/* font variables */
$font-primary: 'Open Sans', sans-serif;
$font-secondary: serif;

/* color variables */
$main-bg-color: #0b0b0b;
$main-text-color: #FFFFFF;

/* text values */
$text-base-size: 1em;
